<div class="wrapper">
    <div class="wrapper page-header section-dark"
         style="background-image: url('assets/images/docusafe-home-picture2.jpg')">
        <div class="content-center link">
            <div class="title">DOCUMENT SAFE</div>

            <h2 class="presentation-subtitle text-center">DATA PROTECTION FRAMEWORK</h2>
            <a href="http://docusafe-rest-server-psp-docusafe-performancetest.cloud.adorsys.de/swagger-ui.html#/document45safe45controller">
                <img src="/assets/images/Swagger-logo.png"/>
            </a>

        </div>
        <div class="moving-clouds" style="background-image: url('assets/images/clouds.png'); "></div>

    </div>
    <div class="main">
        <div class="container text-center">
            <div class="row">
            </div>
        </div>
    </div>
</div>
