<!--The content below is only a placeholder and can be replaced.-->

<div class="main">
    <div style="text-align:center">
        <h1>
            Welcome to {{ title }}!
        </h1>
        <div>
            <hr>
            <h2>Tests</h2>
        </div>
        <div [hidden]="!busy">
            <h1>
                Test is {{currentTestIndex+1}}/{{numberOfTests}} running .....
            </h1>
            Repetition {{numberOfRepeatsDone}}
            <label ngbButtonLabel class="btn-primary full" (click)="abort()">abort</label>

            <div style="text-align: left">
                <pre>{{lastSendTestRequest | json}}</pre>
            </div>
        </div>
        <div [hidden]="busy">
            <div>
                Destination
                <select [(ngModel)]="destinationUrl">
                    <option *ngFor="let du of destinationUrls"
                            [selected]="destinationUrl == du">{{du}}
                    </option>
                </select>
                <br>
                <br>
            </div>
            <div class="row">
                <div class="col1">
                    <div class="headline">CURRENT TEST</div>
                    <div class="content">
                        <table class="testtable">
                            <tr>
                                <td>Number</td>
                                <td>
                                    <img alt="arrow-left.png" height="20" (click)="previousTestcase()"
                                         src="{{imageURL}}/arrow-left.png">
                                    {{currentTestIndex+1}}/{{numberOfTests}}
                                    <img alt="arrow-right.png" height="20" (click)="nextTestcase()"
                                         src="{{imageURL}}/arrow-right.png">
                                </td>
                            </tr>
                            <tr>
                                <td>Number of threads</td>
                                <td><input
                                        [(ngModel)]="testSuite.testrequests[currentTestIndex].staticClientInfo.numberOfThreads">
                                </td>
                            </tr>
                            <tr>
                                <td>Number of repeats</td>
                                <td><input
                                        [(ngModel)]="testSuite.testrequests[currentTestIndex].staticClientInfo.numberOfRepeats">
                                </td>
                            </tr>
                            <tr>
                                <td>Test Action</td>
                                <td>
                                    <select [(ngModel)]="testSuite.testrequests[currentTestIndex].testAction">
                                        <option *ngFor="let tc of testactions"
                                                [selected]="testSuite.testrequests[currentTestIndex].testAction == tc">
                                            {{tc}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Docusafe Layer</td>
                                <td>
                                    <select [(ngModel)]="testSuite.testrequests[currentTestIndex].docusafeLayer">
                                        <option *ngFor="let dl of docusafelayer"
                                                [selected]="testSuite.testrequests[currentTestIndex].docusafeLayer == dl">
                                            {{dl}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Cache Type</td>
                                <td>
                                    <select [(ngModel)]="testSuite.testrequests[currentTestIndex].cacheType">
                                        <option *ngFor="let ct of cachetypes"
                                                [selected]="testSuite.testrequests[currentTestIndex].cacheType == ct">
                                            {{ct}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>UserID</td>
                                <td><input [(ngModel)]="testSuite.testrequests[currentTestIndex].userid"></td>
                            </tr>
                            <tr>
                                <td>Number of Documents</td>
                                <td><input [(ngModel)]="testSuite.testrequests[currentTestIndex].numberOfDocuments">
                                </td>
                            </tr>
                            <tr>
                                <td>Size of Documents</td>
                                <td><input [(ngModel)]="testSuite.testrequests[currentTestIndex].sizeOfDocument"></td>
                            </tr>
                            <tr>
                                <td>Documents per directory</td>
                                <td><input [(ngModel)]="testSuite.testrequests[currentTestIndex].documentsPerDirectory">
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
                <div class="col3">
                    <div class="headline">ACTIONS</div>
                    <div class="content">
                        <div>
                            <label ngbButtonLabel class="btn-primary full" (click)="doCurrentTest()">do current test</label>
                        </div>
                        <label ngbButtonLabel class="btn-primary full" (click)="doRemainingTests()">do
                            remaining tests</label>
                        <label ngbButtonLabel class="btn-primary full" (click)="doAllTests()">do all tests</label>
                        <label ngbButtonLabel class="btn-warning full" (click)="doCleanDatabase()">clean database</label>
                        <label ngbButtonLabel class="btn-primary full" (click)="removeLastTestFromDone()">remove last test from done</label>
                        <div class="samerow full">
                        <label ngbButtonLabel class="btn-primary samerow1" (click)="saveTestSuite()">save testsuite to file</label>
                        <app-dnd class="samerow2" [dndOwner]="me" [id]="1" [labelText]="'drop testSuite here'"></app-dnd>
                            </div>
                        <label ngbButtonLabel class="btn-primary samerow1" (click)="saveTestResults()">save testresults to file</label>
                        <app-dnd class="samerow2" [dndOwner]="me" [id]="2" [labelText]="'drop testResults here'"></app-dnd>
                    </div>
                    {{errormessage}}
                </div>
            </div>
        </div>
        <results [testCaseOwner]="me"></results>
    </div>
</div>
