.main {
    margin-left:50px;
}

.no-margin {
    margin:0px;
}
.col15 {
    height:220px;
}

.firstarrow {
    vertical-align: middle;
    margin:10px;
    margin-top:40px;
}
.arrow {
    vertical-align: middle;
    margin:10px;
}

.col2 {
    width:400px;
}

.col3 {
    width:300px;
    text-align: left;
}

.full {
    width:100%;
}

.testtable {
}

.testtable, td {
    text-align: left;
}



