.tiny {
    font-size: 8px;
}
.main {
    margin-left:50px;
}

.col15 {
    height:220px;
}

.firstarrow {
    vertical-align: middle;
    margin:10px;
    margin-top:40px;
}
.arrow {
    vertical-align: middle;
    margin:10px;
}

.col2 {
    width:400px;
}

.col3 {
    width:400px;
    text-align: left;
}

.full {
    width:100%;
}

.testtable {
}

.testtable, td {
    text-align: left;
}

textarea {
    width:100%
}

.headline {
    background-color:grey;
    margin-left:2%;
    margin-right:2%;
    margin-bottom: 5%;
}

.content {
    margin-right:3%;
    margin-left: 3%;
}

.samerow {
    display:inline-block;
}

.samerow1 {
    float:left;
    width:48%;
    margin-right:2%;
}
.samerow2 {
    float:right;
    width:48%;
    margin-left:2%;
}
