<div style="text-align:center">
    <h1>
        dfs configuration
    </h1>
</div>

<div class="main">
    <table>
        <tr>
            <td>url</td>
            <td><input type="text" name="url"></td>
        </tr>
        <tr>
            <td>access key</td>
            <td><input type="text" name="accesskey"></td>
        </tr>
        <tr>
            <td>secret key</td>
            <td><input type="text" name="secretkey"></td>
        </tr>
        <tr>
            <td>root bucket</td>
            <td><input type="text" name="rootbucket"></td>
        </tr>

        <tr>
            <td colspan="2">
                <button class="btn btn-primary buttonspace" type="button" (click)="read()">read</button>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="btn btn-primary buttonspace" type="button" (click)="write()">write</button>
            </td>
        </tr>
    </table>


</div>
