<div style="text-align:center">
    <h1>
        dfs configuration
    </h1>
</div>

<div class="main">
    <table>
        <tr>
            <td colspan="2">
        <span *ngFor="let value of DFSTypes">
            <input (change)="onDFSTypeChange($event.target.value)" type="radio" name="DFSType" value="{{ value }}"
                   checked="{{checkedDFSType(value)}}">{{ value }}
        </span>
            </td>
        </tr>

        <tr *ngIf="isDFSType('amazons3')">
            <td>url</td>
            <td><input type="text" size="100" name="url" [(ngModel)]="dfsCredentials.amazons3.url"></td>
        </tr>
        <tr *ngIf="isDFSType('amazons3')">
            <td>access key</td>
            <td><input type="text" name="accesskey" [(ngModel)]="dfsCredentials.amazons3.amazonS3AccessKey"></td>
        </tr>
        <tr *ngIf="isDFSType('amazons3')">
            <td>secret key</td>
            <td><input type="text" name="secretkey" [(ngModel)]="dfsCredentials.amazons3.amazonS3SecretKey"></td>
        </tr>
        <tr *ngIf="isDFSType('amazons3')">
            <td>root bucket</td>
            <td><input type="text" name="region" [(ngModel)]="dfsCredentials.amazons3.amazonS3Region"></td>
        </tr>
        <tr *ngIf="isDFSType('amazons3')">
            <td>root bucket</td>
            <td><input type="text" size="100" name="root bucket" [(ngModel)]="dfsCredentials.amazons3.amazonS3RootBucketName"></td>
        </tr>
        <tr *ngIf="isDFSType('filesystem')">
            <td>root bucket</td>
            <td><input type="text" size="100" name="root bucket" [(ngModel)]="dfsCredentials.filesystem.filesystemRootBucketName"></td>
        </tr>

        <tr>
            <td colspan="2">
                <button class="btn btn-primary buttonspace" type="button" (click)="read()">read</button>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="btn btn-primary buttonspace" type="button" (click)="write()">write</button>
            </td>
        </tr>
    </table>


</div>
