.small-font {
    font-size:12px;
}

.results {
    text-align: left;
}

.realline {
    border:1;
}

.errorline {
    background-color: lightpink;
}

.okline {
    background-color: lightgreen;
}

.headline {
    background-color: lightgrey;
}

.clickable {
    cursor: pointer;
}

.no-margin {
    margin:0px;
}
